*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-light: #c88d4e;
    --main-medium: #9f6e3b;
    --main-dark: #614422;

    --secondary-light: #2f4765;
    --secondary-medium: #033160;
    --secondary-dark: #131e2a;

    --accent-light: #ffffff;
    --accent-medium: #c6dbea;
    --accent-dark: #d3cece;

    --warning-light: #fac661;
    --warning-medium: #fac661;
    --warning-dark: #fac661;

    --positive-light: #35df90;
    --positive-medium: #1db872;
    --positive-dark: #188e58;

    --negative-light: #f47961;
    --negative-medium: #ee3814;
    --negative-dark: #d52e0f;

    --white: #ffffff;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--main-light);
}

button {
    cursor: pointer;
}

ul {
    list-style: none;
}

fieldset {
    border: none;
}

/* Header */
header {
    background-color: var(--main-dark);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 13vh;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header-logo > i {
    font-size: 50px;
    color: var(--accent-light);
}

.header-logo > h1 {
    color: var(--accent-light);
}

.button-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-menu > button {
    background-color: var(--main-dark);
    border: none;
    cursor: pointer;
}

.button-menu > button > i {
    font-size: 35px;
    color: var(--accent-light);
}

/* Nav */
.nav-container {
    display: none;
    width: 100%;
    background-color: var(--main-medium);
}

.nav-container.active {
    display: block;
}

.nav-icons-container,
.projects-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.nav-icons-container > button,
.projects-container > button,
.new-project-container > button,
.project-item > button,
.project-item-priority > button,
.project-info,
.project-info > button {
    border: none;
    border-radius: 5px;
    background-color: var(--main-light);
    padding: 0.5rem;
    display: flex;
    justify-content: start;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--accent-light);
}

.nav-icons-container > button:focus {
    background-color: var(--accent-light);
    color: var(--main-dark);
}

/* Main content */

.projects-container > h2 {
    text-decoration: underline;
    color: var(--white);
    font-weight: 700;
}

.projects-container > button {
    background-color: var(--main-medium);
}

.projects-container > ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.priority {
    border: 3px solid var(--negative-medium);
}

/* .priority > .project-title {
    color: var(--negative-medium);
} */

.priority > .project-info-details {
    color: var(--negative-medium);
}

.project-info > .project-info-close {
    margin-left: auto;
}

.project-info {
    background-color: var(--main-dark);
    display: flex;
    align-items: center;
}

.project-info > button {
    background-color: var(--main-dark);
    font-size: 1.2rem;
}

.project-title {
    display: flex;
    align-items: center;
}

.project-description {
    width: 10ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.project-description.expanded {
    white-space: normal;
    width: auto;
}

/* New-projects container */
.new-project-container {
    display: none;
    background-color: var(--main-medium);
}

.new-project-container.active {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
}

.project-item-title {
    grid-area: 1 / 1 / 2 / 3;
}

.project-item-description {
    grid-area: 2 / 1 / 3 / 3;
}

.project-item-priority {
    grid-area: 3 / 1 / 4 / 3;
}

.project-item,
.project-item-priority {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-item > input,
.priority-container {
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    display: flex;
    justify-content: start;
    font-size: 1rem;
    background-color: var(--main-light);
    color: var(--main-dark);
    width: 80%;
}

.priority-container {
    justify-content: space-between;
    font-weight: 700;
}

.priority-container > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.project-item > input:focus {
    background-color: var(--accent-dark);
}

.project-item > button,
.project-item-priority > button {
    background-color: var(--main-medium);
    font-size: 1.2rem;
}

#title::placeholder,
#description::placeholder,
#due-date {
    color: var(--main-dark);
    font-weight: 700;
}

.new-project-container > #add-new-project {
    background-color: var(--main-dark);
    color: var(--white);
    font-weight: 700;
    grid-area: 4 / 1 / 5 / 2;
}

.new-project-container > #cancel-btn {
    background-color: var(--negative-medium);
    color: var(--white);
    font-weight: 700;
    grid-area: 4 / 2 / 5 / 3;
}

.new-project-container > #add-new-project.disabled-btn {
    pointer-events: none;
    background-color: var(--accent-medium);
    color: var(--secondary-dark);
}

#add-project.hidden {
    display: none;
}

@media screen and (min-width: 700px) {
    .button-menu {
        display: none;
    }

    main {
        display: grid;
        grid-template-columns: max(300px) repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: calc(100vh - 13vh);
    }

    .nav-container {
        display: block;
        grid-area: 1 / 1 / 4 / 2;
    }

    .projects-container {
        grid-area: 1 / 2 / 4 / 4;
        overflow-y: auto; /* Enable vertical scrolling */
        max-height: 100%;
    }

    .new-project-container.active {
        margin-top: 5rem;
        width: 300px;
        position: absolute;
        bottom: 0;
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 1rem;
    }

    .project-item > input,
    .priority-container {
        font-size: 0.8rem;
    }

    .priority-container > div {
        gap: 5px;
    }

    #add-new-project,
    #cancel-btn {
        align-self: center;
    }
}
